body{
  background-color: red;
  color: white;
  display: inline,middle;
  padding-left: 15px;
  padding-top: 20px;


}

h1, h2, h3, h4, h5, h6, {
  font-family:helvetica;
  font-size: 100px;
  display: inline,middle;
  padding-left: 15px;
  padding-top: 20px;

}

p {
  color: white;
  text-decoration: underline;
  display: inline,middle;
  padding-left: 15px;
  padding-top: 20px;

}

.centered {
  position: fixed;
  top: 45%;
  left: 45%;
  margin-top: -50px;
  margin-left: -130px;
}
